RewriteEngine On

  RewriteCond %{HTTP_HOST} ^admin.renting.com.uy [NC]
  RewriteCond %{SERVER_PORT} 80
  RewriteRule ^(.*)$ https://admin.renting.com.uy/$1 [R,L]

  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
  
