@font-face {
  font-family: VwHead;
  src: url("~@/assets/fonts/vwhead-light.woff2");
  font-weight: normal;
}
@font-face {
  font-family: VwHead;
  src: url("~@/assets/fonts/vwhead-bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: VwText;
  src: url("~@/assets/fonts/vwtext-regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: VwText;
  src: url("~@/assets/fonts/vwtext-bold.woff2");
  font-weight: bold;
}

:root {
  --primary-color: #003061;
  --accent-color: #00a2db;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: "VwText", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #ffffff;
  min-height: 100vh;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1580px;
  }
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "VwHead", sans-serif;
  line-height: 1.25;
  font-weight: 300;
  margin: 0px;
}

.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1rem !important;
}
.mr-5 {
  margin-right: 1.5rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1rem !important;
}
.ml-5 {
  margin-left: 1.5rem !important;
}

.page-title {
  font-weight: 400;
}
.page-title span {
  font-weight: 600;
}

.badge {
  background-color: var(--accent-color);
  padding: 8px 12px;
  font-size: 13px;
}

.flex-grow-1 {
  flex-grow: 1 !important;
  flex-basis: 0;
}
.flex-grow-2 {
  flex-grow: 2 !important;
  flex-basis: 0;
}
.flex-grow-3 {
  flex-grow: 3 !important;
  flex-basis: 0;
}
.flex-grow-4 {
  flex-grow: 4 !important;
  flex-basis: 0;
}
.flex-grow-5 {
  flex-grow: 5 !important;
  flex-basis: 0;
}
.flex-grow-6 {
  flex-grow: 6 !important;
  flex-basis: 0;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.background-cover {
  background-size: cover;
}
.background-contain {
  background-size: contain;
}

.bg-grey {
  background-color: #f7f7f7;
}
.bg-transparent {
  background-color: transparent !important;
}

.container-fluid {
  padding: 0px;
}
.container-fluid .row {
  margin: 0px;
  --bs-gutter-x: 0;
}

.btn{
  width: fit-content;
  padding: 0.375rem 1.75rem;
}

.btn-primary {
  background: transparent;
	border-color: rgb(0, 30, 80);
	color: rgb(0, 30, 80);
	border-radius: 24px;
	border-width: 2px;


}
.btn-primary:hover {
  background: rgb(0, 30, 80);
	border-color: rgb(0, 30, 80);
	color: #fff;
}



.title {
  font-weight: 400;
}
.title strong {
  font-weight: 600;
}

.section-title {
  background-color: var(--primary-color);
  color: #fff;
  padding: 14px 28px;
  display: inline;
}

.lead-text {
  font-size: 16px;
  line-height: 24px;
}

.only-mobile {
  display: none !important;
}
.only-desktop {
  display: initial !important;
}
@media (max-width: 728px) {
  .only-mobile {
    display: initial !important;
  }
  .only-desktop {
    display: none !important;
  }
}

.hover-effect {
  transition: transform 2.2s cubic-bezier(0.14, 1.12, 0.67, 0.99) 0s;
}
.hover-effect:hover {
  transform: scale(1.05);
}

.chevron::before {
  border-style: solid;
  border-width: 0.16em 0.16em 0 0;
  content: "";
  display: inline-block;
  height: 0.6em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.6em;
  margin-top: 5px;
}
.chevron.chevron-right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.chevron-bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.chevron-left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.invert{
  filter: invert(1);
}

.icon{
  display: block;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon.icon-phone{
	background-image: url('../assets/img/icon-phone.png');
}

.divider{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.divider:before{
  content: '';
  display: block;
  width: 76px;
  height: 25px;
  border-bottom: 4px solid #eeeeee;
  border-right: 4px solid #eeeeee;
  margin-right: 2px;
}
.divider:after{
  content: '';
  display: block;
  width: 76px;
  height: 25px;
  border-bottom: 4px solid #f5f5f5;
  border-left: 4px solid #f5f5f5;
  margin-left: 2px;
}